body, h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: #386377;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  width: 100%;
}

header > h1 {
  color: #fff;
}

header > a {
  color: #fff;
}

.content-box {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 4rem);
  width: 100%;
}

.map-box {
  height: inherit;
  width: 100%;
}

.menu {
  background-color: #ccc;
  border-radius: 0.125rem;
  margin-top: 1rem;
  margin-left: 1rem;
  position: absolute;
  height: 2.5rem;
  width: auto;
  z-index: 999;
}

.menu-options {
  background-color: #5f5959;
  color: #fff;
  border-radius: 0.125rem;
  border: 0;
  padding: 0 0.5rem;
  cursor: pointer;
  height: 2.5rem;
  width: 10rem;
}

.menu-options > option {
  cursor: pointer;
  height: 1rem;
}

.menu-button {
  background-color: #386377;
  border: 0;
  border-radius: 0.125rem;
  padding: 0 0.75rem;
  cursor: pointer;
  color: #fff;
  height: 2.5rem;
  width: auto;
}

.-disabled {
  opacity: 0.5;
  cursor: default;
}